<div>
<span class="fa-stack fa-4x">
<i class="fa fa-circle fa-stack-2x grey"></i>
<i class="fa {{ad.icon}} fa-stack-1x white"></i>
</span>
<h2><span> {{ad.title}}</span></h2>
<h4 class="text-muted" [innerHTML]="ad.desc"></h4>
</div>

