<div class="container-fluid">
    <div class="row justify-content-center p-3">
        <div class="col-lg-12 p-4 text-center">
            <div class="lead" *ngIf="showIframe">
                <div><span class="pull-right"> <a (click)="showIframe=false;"><i
                    class="fa fa-close fa-2x"></i></a></span></div>
                <iframe width="100%" height="600px" [src]="frame | safe" style="border: 0;"></iframe>
            </div>

            <ul class="portfolio-items">
                <li class="portfolio-item  col-md-2 col-xs-6" *ngFor="let video of videos"
                    (click)="loadVideo(video)">
                    <div class="item-inner">
                        <img src="{{video.preview}}" alt="">
                        <p class="title">
                            <span class="text-muted pull-left">{{video.title}}</span>
                        </p>
                    </div>
                </li><!--/.portfolio-item-->
            </ul>
        </div>
    </div>
</div>
