<div class="container-fluid">
    <div class="row justify-content-center p-3">
        <div class="col-12 carousel-sofb">
            <carousel [interval]="3703" >
                <slide *ngFor="let slide of gallerySlides">
                    <img [src]="slide.img" alt="Gallery SOFB slide">
                </slide>
            </carousel>
        </div>
    </div>
</div>
