<div class="container-fluid">
    <div class="row justify-content-center p-3" >
        <div class="col-lg-12 wrapper-items" *ngIf="loaded">
            <ul class="portfolio-items">
                <sofb-magazine-item class="yik" [magazineData]="mag" *ngFor="let mag of magazines$ | async"></sofb-magazine-item>
            </ul>
        </div>
      <sofb-mag-placeholder [loaded]="loaded"></sofb-mag-placeholder>
    </div>
</div>


