
<li class="magazine-item  col-md-2 col-xs-4" [@sofbListItemAnimation]='animationState'>
    <div class="item-inner">
        <img src="{{magazineData?.img}}" alt="Magazine SOFB">
        <div class="overlay" *ngIf="hov">
            <a class="preview btn btn-outline-dark " (click)="onClickMagazine(magazineData?.id)" rel="prettyPhoto">Read</a>
            <!--<a class="preview btn btn-danger" [routerLink]=" ['./'+magazineData?.id] " (click)="onClickMagazine(magazineData?.id)" rel="prettyPhoto">Read</a>-->
        </div>
    </div>
</li>


