<div class="container-fluid">
  <div class="row justify-content-center p-3">
    <div class="col-12 col-sm-8 p-4">
      <div class="col-12 p-2 mb-3">
        <h1 class="mb-3">
            <span class="float-right">
            <a class="pag" [routerLink]=" ['../../magazines/'+currentMagazineMinus] ">
              <i class="fa fa-chevron-left "*ngIf="currentMagazine > 1"></i></a>
            <span class="current">&nbsp;{{currentMagazine}}&nbsp;</span>
             <a class="pag" [routerLink]=" ['../'+currentMagazinePlus] ">
               <i class="fa fa-chevron-right"*ngIf="currentMagazine < 22"></i></a>
            </span>
        </h1>
      </div>
      <br>
      <div class="magazine-item mt-4" style="position:relative">
        <iframe *ngIf="showIframe" width="100%" height="600px" [src]="source | safe"
                style="border: 0;"></iframe>
      </div>
    </div>
    <div class="col-12 col-sm-4 p-4">
      <div class="widget search">
        <h3><i class="fa fa-calendar"></i> Published </h3>
        <div class="row">
          <div class="col-sm-6">
            <ul class="arrow">
              <li><a>{{magazine.published | date:'mediumDate'}}</a></li>
            </ul>
          </div>
        </div>
      </div><!--/.search-->
      <div class="widget categories">
        <h3><i class="fa fa-list"></i> Summary</h3>
        <div class="row">
          <div class="col-sm-6">
            <ul class="arrow">
              <li><a>Hot Dates</a></li>
              <li><a>Sick Rider</a></li>
              <li><a>In Straps</a></li>
              <li><a>Bike Check</a></li>
              <li><a>News</a></li>
              <li><a>Interview</a></li>
              <li><a>Hot Dates</a></li>
              <li><a>Products</a></li>
              <li><a>Other Side Of The Lens</a></li>
              <li><a>Competitions</a></li>
            </ul>
          </div>
        </div>
      </div><!--/.categories-->
      <div class="widget tags">
        <h3><i class="fa fa-tag"></i> Tags</h3>
        <ul class="tag-cloud">
          <li><span class="sofb-tags">Stoked On Fixed Bikes</span></li>
          <li><span class="sofb-tags">Fixed</span></li>
          <li><span class="sofb-tags">Gear</span></li>
          <li><span class="sofb-tags">Bikes</span></li>
          <br>
          <li><span class="sofb-tags">Ride</span></li>
          <li><span class="sofb-tags">SOFB</span></li>
          <li><span class="sofb-tags">Magazine</span></li>
          <li><span class="sofb-tags">Fixie</span></li>
          <li><span class="sofb-tags">Fixed Gear</span></li>
          <br>
          <li><span class="sofb-tags">Straps</span></li>
          <li><span class="sofb-tags">Handlebars</span></li>
          <li><span class="sofb-tags">Bicycle</span></li>
          <li><span class="sofb-tags">Alley Cat</span></li>
          <br/>
          <li><span class="sofb-tags">Handlebars</span></li>
          <li><span class="sofb-tags">Pedal</span></li>
          <li><span class="sofb-tags">Issuu</span></li>
          <li><span class="sofb-tags">Free Magazine</span></li>
          <br/>
          <li><span class="sofb-tags">Online</span></li>
          <li><span class="sofb-tags">Track Bikes</span></li>
          <li><span class="sofb-tags">FGFS</span></li>
        </ul>
      </div>
    </div>
  </div>


</div>
