<div class="container-fluid">
    <div class="row justify-content-center p-4">
        <div class="col-lg-12 p-4" *ngIf="(links$ | async)?.length > 0">
          <div class="links-wrap" [@photosAnimation]="(links$ | async)?.length">
            <sofb-link-item class="item col-md-2" *ngFor="let item of links$ | async" [item]="item"></sofb-link-item>
          </div>
        </div>
    </div>
</div>
