
<div class="container-fluid">
    <div class="row justify-content-center p-3">
        <div class="col-12 p-4 text-center">
            <h2>
                {{staticContent.header.h2}}
            </h2>
            <h3 class=" text-muted">
                {{staticContent.header.h3}}
            </h3>
            <p class="lead">
                {{staticContent.header.p}}
            </p>

            <h2>
                {{staticContent.body.h2}}
            </h2>
            <h3 class=" text-muted">
                {{staticContent.body.p}}
             </h3>
        </div>
    </div>
    <div class="row justify-content-center p-3">
        <div class="col-md-4 col-6" *ngFor="let item of staticContent.body.members">
            <div class="text-center">
                <p><img class="img-fluid rounded-circle avatar" [src]="item.avatar" alt="Avatar SOFB member"  ></p>
                <h5>{{item.name}}
                    <small class="designation muted">{{item.role}}</small>
                </h5>
                <p>{{item.desc}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <img [src]="staticContent.banner" class="img-fluid banner" alt="SOFB banner">
    </div>
</div>

