  <sofb-loader [loading]="loading"></sofb-loader>

  <sofb-navbar #nav></sofb-navbar>
  <sofb-subheader [title]="title"></sofb-subheader>

  <div class="main">
    <router-outlet #o="outlet"></router-outlet>
  </div>

  <div>
    <sofb-banner></sofb-banner>
    <sofb-pre-footer></sofb-pre-footer>
    <sofb-footer></sofb-footer>
  </div>


