<div class="container-fluid sofb-banner">
    <div class="row">
        <div class="col-12 col-sm-3 carousel-sofb">
            <carousel [interval]="20000">
                <slide *ngFor="let slide of sofbAdSlides">
                    <img [src]="slide.img" alt="SOFB slide">
                </slide>
            </carousel>
        </div>
        <div class="col-12 col-sm-3 carousel-sofb">
            <carousel [interval]="10000">
                <slide *ngFor="let slide of bombtrackSlides">
                    <img [src]="slide.img" alt="Bombtrack slide">
                </slide>
            </carousel>
        </div>
        <div class="col-12 col-sm-3 carousel-sofb">
            <carousel [interval]="12000">
                <slide *ngFor="let slide of poloAndBikeSlides">
                    <img [src]="slide.img" alt="Polo & Bike slide">
                </slide>
            </carousel>
        </div>
        <div class="col-12 col-sm-3 carousel-sofb">
            <carousel [interval]="19000">
                <slide *ngFor="let slide of kappsteinSlides">
                    <img [src]="slide.img" alt="Kappstein slide">
                </slide>
            </carousel>
        </div>
    </div>
</div>
