<div class="container-fluid prefoot-wrap">
    <div class="row">
        <div class="col-12 col-sm-4" *ngFor="let item of staticContent; let index =index;">
            <h2>{{item.title}}</h2>
            <h4 class="p-1" [innerHTML]="item.text" ></h4>
            <sofb-social *ngIf="index===0"></sofb-social>
            <div  *ngIf="index===1">
                <a [routerLink]=" ['./magazines/22'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <p class="p-2">
                    <img src="{{item.image}}" width="140px" alt="SOFB Latest magazine"></p>
                </a>
            </div>
            <div  *ngIf="index===2">
                <a [routerLink]=" [''] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><p class="p-2">
                    <img src="{{item.image}}" width="250px" alt="SOFB Logo"></p>
                </a>
            </div>
        </div>

    </div>
</div>
