.list-inline {
    padding: 1em
}

.list-inline > li {
    display: inline-block;

    padding-right: 5px;
    color: #999;
}

.list-inline > li a {
    color: #999;
    font-size: 1.0em
}

.list-inline > li a:hover {
    color: #000;
    font-size: 1.0em
}
