
<ul class="list-inline">
    <li class="social" *ngFor="let soc of social">
        <a href="{{soc.link}}" target="_blank" rel="noopener">
            <i class="fa fa-{{soc.icon}} fa-fw fa-{{size}}x"></i>
        </a>
    </li>
</ul>
