<div class="col-lg-12 wrapper-items" *ngIf="!loaded">
  <ul  class="skeleton">
    <li  class="card-layout col-md-2 col-xs-4" *ngFor="let fake of generateFake(22)" [@sofbListItemPlaceholderAnimation]='animationState'>
      <div class="inner-card">
        <img src="assets/img/placeholder.jpg">
        <div class="fake-overlay"></div>
      </div>
    </li>
  </ul>
</div>
