.wrapper-items{
  padding:4em;
}

.skeleton {
  padding: 0;
  list-style: none;
  margin: 0 -20px 20px 0;
li{
  float: left;
  list-style: none;
  box-sizing: border-box;
}


.card-layout {
  border-radius: 0;
  padding: 0;
  margin:0;
.inner-card {
  position: relative;
  margin: 0 20px 20px 0;
  border: 1px solid #eeeeee;

img{width: 100%}
}
.fake-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: loading 1.7s infinite linear;
  background: #f6f7f8;
  background-image: -webkit-linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;

}
}
}



@keyframes loading {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 200px;
  }
}
