.bg-dark {
    color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.137255) 0px 6px 10px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 18px 0px;
     background-color: #000!important;
     z-index: 22;
     margin-bottom: 0;
}
.navbar-nav>li>a {
  font-size: 1.8em;
}
 .logo{height:25px;margin-top:-3px;}
 .example-spacer {
     flex: 1 1 auto;
 }

 @media (max-width: 765px){
     .top-menu button{display:none}
 }
