<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    <img src="assets/img/sofb-mini.png" class="logo" alt="Stoked On Fixed Bikes Logo">
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav" [collapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngFor="let menuItem of menu" >
        <a class="nav-link" [routerLink]=" [menuItem.state]"routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">{{menuItem.title}}</a>
      </li>
    </ul>
  </div>
</nav>
