<footer class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <li *ngFor="let item of footerMenu">
                    <a [routerLink]=" [item.state] " routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col end-fot">
            <a target="_blank" href="" class="text-muted"
               title="powered by ARF">freepowder </a> &copy; <span class="text-muted">2018 </span>
            <a target="_blank" href="" class="text-muted"
               title="Stoked On Fixed Bikes">StokedOnFixedBikes</a>
        </div>
    </div>
</footer>
