<div class="container-fluid">
    <div class="row justify-content-center p-4" [@photosAnimationHorizontal]="header?.sections?.length">
      <sofb-ad-section class="col-xs-12 col-md-3 col-sm-3 p-4" *ngFor="let ad of header?.sections" [ad]="ad"></sofb-ad-section>
      <div class="col-lg-12 p-4 text-center">
            <h2> {{header.title}}</h2>
        </div>
    </div>
  <div class="">
    <div class="col-lg-12 wrapper-items text-center">
      <div class="row justify-content-center" [@photosAnimationVertical]="body?.oldAdverts?.length">
        <sofb-old-advert class="col-md-2" *ngFor="let item of body?.oldAdverts" [item]="item"></sofb-old-advert>
      </div>
    </div>
  </div>
</div>
