/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/bootstrap/scss/bootstrap';

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/type';

html, body{
  height: 100%;
  width:100%;
  font-family: Roboto,sans-serif;
  font-size: 81.25%;
}

.main {
  position: relative;
  display:block;
  min-height:800px;
}

// BOOTSTRAP CAROUSEL
.carousel-indicators li, .carousel-control{display: none!important}
.carousel-inner > .item.carousel-item,.carousel-inner > .item.carousel-item > .item,
.carousel-inner > .item.carousel-item > .item > img,
.carousel-inner> .item.carousel-item > .item > a > img{
  width: 100%; /* use this, or not */
  margin: auto;
}


