.white {
  color: #f5f5f5
}

a {
  color: #f5f5f5
}

.thumbnail {
  opacity: 0.6;
  border-radius: 0px;

  float: left;
  padding-bottom:15px;
  padding-top:15px;
}
.thumbnail:hover {
  opacity: 0.3;
  border-radius: 0px;

  float: left;
  padding-bottom:15px;
  padding-top:15px;
}



@media (max-width: 765px) {


  .thumbnail {
    height: 85px;
    width: 100px;
  }

}
