<div class="home text-center">
    <img src="assets/img/{{staticContent.header}}" alt="SOFB Landing Image" class="img-fluid" style="width:100%">
    <div class="claim">
        <div class="d-flex justify-content-center mb-3">
            <h1 data-title="Stoked On Fixed Bikes">{{staticContent.h1}}</h1>
          <br>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="">{{staticContent.h2}}</h2><br>
                <h3 class="" [innerHTML]="staticContent.p1"></h3><br>
                <h3 class="" [innerHTML]="staticContent.p2"></h3><br>
                <h3 class="" [innerHTML]="staticContent.p3"></h3><br>
            </div>
        </div>
      <div class="row">
        <div class="col-md-4 offset-md-4 pt-4">
          <sofb-social [size]="5"></sofb-social>
        </div>
      </div>
    </div>
</div>
