/*styles for home content only*/
h1{font-size:4em;}
.home {
    background-color: #2d2a2a;
}

.claim {
    padding: 4em;
    color: #f5f5f5
}

@media (min-width: 1600px) {

}

@media (max-width: 765px) {
    .home{
        margin-top:50px;
    }
    .claim {
        padding: 2em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.4em;
    }
    h3 {
        font-size: 2em;
    }
}
