
.no-content{display:block}
.sub-header-sofb{
    padding:4em 2em;
    background-color: #f5f5f5;
    color: #999;
    margin:0 auto;
    text-align:center

 }
.img-sofb{
    padding:50em;
    margin:0 auto;
    text-align:center
}
h1{
  font-size: 10em;
  font-weight: lighter;
}
