<div class="container-fluid">
    <div class="row justify-content-center p-3">
      <div class="col-12 p-4 text-center">
        <h1 class="text-danger p-4"> 404 </h1>
      </div>
        <div class="col-12 p-4 text-center">
            <div class="row sub-header-sofb">
                <div class="col p-4">
                    <p>
                        <i class="fa fa-warning fa-5x"></i>
                    </p>

                    <h2 class="text-muted">PAGE NOT FOUND</h2>
                </div>
            </div>
        </div>

        <!--<div class="col-12 p-4 text-center">-->
            <!--<div class="row sub-header-sofb">-->
                <!--<div class="col">-->
                    <!--<h1 class="text-muted">-->
                        <!--<img src="https://s3.eu-central-1.amazonaws.com/sofblogos/SOFB_white.png" />-->
                    <!--</h1>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

</div>
